/*css reset*/
* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

*:before, *:after {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 如果要把字母换成网页的logo 
图片直接在这里写上 */
/* 意思就是图片的最大宽度和高度不能超过他的父亲 */
/* img{
    max-height: 100%;
    max-width: 100%;
} */
/* style */
body {
    min-width: 100vw;
    min-height: 100vw;
    background-image: url(./img/1.jpg);
    /* background-color: #eee; */
}

.globalHeader {
    margin: 20px;
}

@media (min-width:500px) {
    .globalHeader {
        margin: 100px 0 60px 0;
    }
}

.searchForm {
    display: flex;
    justify-content: space-between;
}

/* 这句话的意思是 当你的宽度大于等于五百像素时 你要干什么 */
@media (min-width:500px) {
    .searchForm {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

.searchForm>input {
    width: 100%;
    height: 40px;
    border: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    margin-right: 10px;
    border-radius: 4px;
}



.searchForm>button {
    white-space: nowrap;
    font-size: 16px;
    padding: 0 28px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #3170BA;
    cursor: pointer;
}

.globalMain {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.globalMain .siteList {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width:500px) {
    .globalMain .siteList {
        margin-left: 0;
        margin-right: -25px;
        justify-content: flex-start;
    }
}

.siteList li {
    /* border: 1px solid red; */
    margin-bottom: 10px;
}

@media (min-width:500px) {
    .siteList li {
        margin-right: 25px;
    }
}

.siteList .site {
    background-color: white;
    padding: 20px 0;
    border-radius: 4px;
    /* border: 1px solid #ddd; */
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.siteList .site:hover {
    background-color: #ddd;
}

.siteList .logo {
    width: 64px;
    height: 64px;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.siteList .link {
    font-size: 14px;
    margin-top: 4px;
}

.siteList .close {
    font-size: 25px;
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 4px;
    /* display: none; */
    background-color: rgba(128, 134, 139, .1);
}

@media (min-width:500px){
    .siteList .close{
        display: none;
        background-color: transparent;
    }
}

.siteList .site:hover .close {
    display: block;
}

.siteList .close:hover {
    display: block;
    background: rgba(128, 134, 139, .3);
}

.siteList .addbutton {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
}

.siteList .addbutton .icon-wrapper {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.siteList .addbutton .icon {
    width: 64px;
    height: 64px;
}

.siteList .addbutton .text {
    font-size: 14px;
    margin-top: 4px;
}